<!-- Navigation -->
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#fgso-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        {{ site.title | default: "MSU Forestry Graduate Student Organization" }}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="fgso-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="{{ '/#about' | relative_url }}">About</a>
        </li>
        <li>
          <a class="page-scroll" href="{{ '/#events' | relative_url }}">Events</a>
        </li>
        <li>
          <a class="page-scroll" href="{{ '/symposium2026/' | relative_url }}">>Graduate Research Symposium</a>
        </li>
        <li>
          <a class="page-scroll" href="{{ '/#team' | relative_url }}">Officers</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Get Involved</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Header -->
<header id="page-top">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">
        Michigan State University Forestry Graduate Student Organization
      </div>
      <div class="intro-heading">
        Community, Scholarship, and Service in Forestry
      </div>
      <a href="#about" class="page-scroll btn btn-xl">Learn More</a>
    </div>
  </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

